@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}

body{
  color: white;
  background-color: black;
}